.THIS.black {
    color : black;
 }
 .THIS.green {
    color : green;
 }
  
 .THIS.red {
    color : red;
 }
  
 .THIS.yellow {
    color : yellow;
 }
  
 .THIS.magenta {
    color : magenta;
 }
  
 .THIS.blue {
    color : blue;
 }
 